.topMain {
  overflow: hidden !important;
  // width: 100%;

  .main {
    display: flex;
    gap: 30px;
    width: 980px;
    // width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    // margin-inline: 0 500px;
    // flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .image {
      position: relative;
      height: 450px;
      max-width: 302px;
      object-fit: cover;
      cursor: pointer;
      img {
        max-width: 100%;
      }

      .about {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        padding: 15px 19px;
        background: #ffffff;
        border-radius: 6px;
        display: inline-block;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }
}

@media (max-width: 570px) {
  .topMain {
    .main {
      .image {
        height: 350px;
      }
    }
  }
}

@media (max-width: 320px) {
  .topMain {
    .main {
      justify-content: center;
      gap: 0;

      .image {
        height: 350px;
        width: 100%;
      }
    }
  }
}
