* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
}
